<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css    
    body

        h2  Restablecer Password
        p   Hola, has solicitado restablecer tu password, haz clic en el siguiente enlace para continuar, este enlace es temporal, asi que si vence vuelve a solicitarlo.
        a(href=`${resetUrl}`) Ir a restablecer el Password
        p   Si el enlace no funciona, visita #{resetUrl}
        p   Si no solicitaste restablecer tu password, ignora este e-mail.